<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1243118102" />
    <title>BiritaShop - by Fernando Felipe</title>
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />

    <style>
      .pad {
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
  </head>

  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/" class="w3-bar-item w3-button w3-mobile">BiritaShop</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Cliente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/cliente/adicionarCliente" class="w3-bar-item w3-button"
            >Adicionar Cliente</a
          >
          <a href="/cliente/listarCliente" class="w3-bar-item w3-button"
            >Listar Cliente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Dependente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a
            href="/dependente/adicionarDependente"
            class="w3-bar-item w3-button"
            >Adicionar Dependente</a
          >
          <a href="/dependente/listarDependente" class="w3-bar-item w3-button"
            >Listar Dependente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Pedido</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button">Adicionar Pedido</a>
          <a href="#" class="w3-bar-item w3-button">Editar Pedido</a>
          <a href="#" class="w3-bar-item w3-button">Listar Pedido</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black w3-pale-green">Produto</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/produto/adicionarProduto" class="w3-bar-item w3-button"
            >Adicionar Produto</a
          >
          <a href="/produto/listarProduto" class="w3-bar-item w3-button"
            >Listar Produto</a
          >
        </div>
      </div>
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o site</a
      >
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <div class="pad">
      <form
        method="POST"
        th:action="@{/produto/adicionarProduto}"
        th:object="${produto}"
      >
        <h1>Formulário para adicionar produtos:</h1>
        <div class="grid">
          <label for="nomeProduto">
            Nome do Produto*:
            <input
              type="text"
              id="nomeProduto"
              name="nomeProduto"
              placeholder="Nome do Produto"
              th:field="*{nomeProduto}"
              required
            />
          </label>
          <label for="marca">
            Marca*:
            <input
              type="text"
              id="marca"
              name="marca"
              placeholder="Marca"
              th:field="*{marca}"
              required
            />
          </label>
          <label for="volume">
            Volume(mL)*:
            <input
              type="number"
              id="volume"
              name="volume"
              placeholder="ml"
              th:field="*{volume}"
              step="0.01"
              min="0.01"
              max="9999999999.99"
              required
            />
          </label>
          <label for="precoVenda">
            Preço da Venda*:
            <input
              type="number"
              id="precoVenda"
              name="precoVenda"
              placeholder="R$"
              th:field="*{precoVenda}"
              step="0.01"
              min="0.01"
              max="9999999999.99"
              required
            />
          </label>
          <label for="precoCompra">
            Preço da Compra*:
            <input
              type="number"
              id="precoCompra"
              name="precoCompra"
              placeholder="R$"
              th:field="*{precoCompra}"
              step="0.01"
              min="0.01"
              max="9999999999.99"
              required
            />
          </label>
        </div>
        <fieldset>
          <legend>Embalagem*</legend>
          <label for="plastico">
            <input
              type="radio"
              id="plastico"
              name="embalagem"
              value="plastico"
              th:field="*{embalagem}"
              required
            />
            Plástico
          </label>
          <label for="metal">
            <input
              type="radio"
              id="metal"
              name="embalagem"
              value="metal"
              th:field="*{embalagem}"
              required
            />
            Metal
          </label>
          <label for="vidro">
            <input
              type="radio"
              id="vidro"
              name="embalagem"
              value="vidro"
              th:field="*{embalagem}"
              required
              checked
            />
            Vidro
          </label>
        </fieldset>

        <div class="grid">
          <input type="submit" value="Adicionar!" />
          <input type="reset" value="Limpar" />
        </div>
        <label>* Campo obrigatório</label>
      </form>
    </div>
    <script src="/public/validateForm.js"></script>
  </body>
</html>
