<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1243118102" />
    <title>BiritaShop - by Fernando Felipe</title>
    <link rel="shortcut icon" th:href="@{/assets/favicon.icon}" />

    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />

    <style>
      .pad {
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
  </head>

  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/" class="w3-bar-item w3-button w3-mobile">BiritaShop</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Cliente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/cliente/adicionarCliente" class="w3-bar-item w3-button"
            >Adicionar Cliente</a
          >
          <a href="/cliente/listarCliente" class="w3-bar-item w3-button"
            >Listar Cliente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Dependente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a
            href="/dependente/adicionarDependente"
            class="w3-bar-item w3-button"
            >Adicionar Dependente</a
          >
          <a href="/dependente/listarDependente" class="w3-bar-item w3-button"
            >Listar Dependente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black w3-pale-green">Pedido</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/pedido/adicionarPedido" class="w3-bar-item w3-button"
            >Adicionar Pedido</a
          >
          <a href="/pedido/listarPedido" class="w3-bar-item w3-button"
            >Listar Pedido</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Produto</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/produto/adicionarProduto" class="w3-bar-item w3-button"
            >Adicionar Produto</a
          >
          <a href="/produto/listarProduto" class="w3-bar-item w3-button"
            >Listar Produto</a
          >
        </div>
      </div>
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o site</a
      >
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <div class="pad">
      <h1 align="middle">Seleção de clientes</h1>
      <form
        th:action="@{/pedido/listarPedido}"
        th:object="${cliente}"
        method="GET"
      >
        <div class="form-group">
          <label for="dropdown">Selecione um cliente</label>
          <select id="dropdown" name="clienteid" class="form-control">
            <option value="">--Select--</option>
            <option
              th:each="umCliente: ${todosOsClientes}"
              th:value="${umCliente.id}"
              th:text="${umCliente.nomeCompleto}"
              th:selected="${umCliente.id} == ${clienteid}"
            ></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar pedidos</button>
      </form>
    </div>

    <div class="pad">
      <h1 align="middle">Lista de pedidos</h1>
      <table role="grid">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Pagamento</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Data de Geração</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="umPedido: ${todosOsPedidos}">
            <td th:text="${umPedido.id}"></td>
            <td th:text="${umPedido.pagamento}"></td>
            <td th:text="${umPedido.quantidade}"></td>
            <td
              th:text="${#dates.format(umPedido.dataPedido, 'dd/MM/yyyy')}"
            ></td>
            <td>
              <a th:href="@{editar/{id}(id=${umPedido.id})}">Editar</a>
            </td>
            <td>
              <a th:href="@{remover/{id}(id=${umPedido.id})}">Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
