<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1243118102" />
    <title>PWeb - by Fernando Felipe</title>
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />

    <style>
      .pad {
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
  </head>

  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/" class="w3-bar-item w3-button w3-mobile">Início</a>
      <a
        href="/adicionarPessoa"
        class="w3-bar-item w3-button w3-mobile w3-pale-green"
        >Adicionar pessoa</a
      >
      <a href="/listarPessoa" class="w3-bar-item w3-button w3-mobile"
        >Listar pessoas</a
      >
      <a
        href="/public/noticias.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Notícias</a
      >
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o site</a
      >
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <div class="pad">
      <form method="POST" th:action="@{/adicionarPessoa}" th:object="${pessoa}">
        <h1>Formulário para adicionar pessoas:</h1>
        <div class="grid">
          <label for="nome">
            Seu nomezinho*:
            <input
              type="text"
              id="nome"
              name="nome"
              placeholder="Nome Completo"
              th:field="*{nome}"
              required
            />
          </label>
          <label for="email">
            e-Mail*:
            <input
              type="email"
              id="email"
              name="email"
              placeholder="nome@dominio.com"
              th:field="*{email}"
              required
            />
          </label>
          <label for="dataNascimento">
            Data de Nascimento*:
            <input
              type="date"
              id="dataNascimento"
              name="dataNascimento"
              placeholder="dd/mm/aaaa"
              th:field="*{dataNascimento}"
              required
            />
          </label>
        </div>
        <fieldset>
          <legend>Gênero*</legend>
          <label for="Masculino">
            <input
              type="radio"
              id="Masculino"
              name="genero"
              value="Masculino"
              th:field="*{genero}"
              required
            />
            Masculino
          </label>
          <label for="Feminino">
            <input
              type="radio"
              id="Feminino"
              name="genero"
              value="Feminino"
              th:field="*{genero}"
              required
            />
            Feminino
          </label>
          <label for="Não Informado">
            <input
              type="radio"
              id="Não Informado"
              name="genero"
              value="Não Informado"
              th:field="*{genero}"
              required
              checked
            />
            Não informar
          </label>
        </fieldset>

        <div class="grid">
          <input type="submit" value="Adicionar!" />
          <input type="reset" value="Limpar" />
        </div>
        <label>* Campo obrigatório</label>
      </form>
    </div>
  </body>
</html>
