<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1243118102" />
    <title>BiritaShop - by Fernando Felipe</title>
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />

    <style>
      .pad {
        padding-left: 20px;
        padding-right: 20px;
      }

      .meu-campo {
        cursor: default;
      }
    </style>
  </head>

  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/" class="w3-bar-item w3-button w3-mobile">BiritaShop</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black w3-pale-green">Cliente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/cliente/adicionarCliente" class="w3-bar-item w3-button"
            >Adicionar Cliente</a
          >
          <a href="/cliente/listarCliente" class="w3-bar-item w3-button"
            >Listar Cliente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Dependente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a
            href="/dependente/adicionarDependente"
            class="w3-bar-item w3-button"
            >Adicionar Dependente</a
          >
          <a href="/dependente/listarDependente" class="w3-bar-item w3-button"
            >Listar Dependente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Pedido</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/pedido/adicionarPedido" class="w3-bar-item w3-button"
            >Adicionar Pedido</a
          >
          <a href="/pedido/listarPedido" class="w3-bar-item w3-button"
            >Listar Pedido</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Produto</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/produto/adicionarProduto" class="w3-bar-item w3-button"
            >Adicionar Produto</a
          >
          <a href="/produto/listarProduto" class="w3-bar-item w3-button"
            >Listar Produto</a
          >
        </div>
      </div>
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o site</a
      >
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <div class="pad">
      <form
        id="address-form"
        method="POST"
        th:action="@{/cliente/adicionarCliente}"
        th:object="${cliente}"
      >
        <h1>Formulário para adicionar clientes:</h1>
        <div class="grid">
          <label for="nomeCompleto">
            Seu nome*:
            <input
              type="text"
              id="nomeCompleto"
              name="nomeCompleto"
              placeholder="Nome Completo"
              th:field="*{nomeCompleto}"
              required
            />
          </label>
          <label for="email">
            e-Mail*:
            <input
              type="text"
              id="email"
              name="email"
              placeholder="nome@dominio.com"
              th:field="*{email}"
              required
            />
          </label>
          <label for="cidade">
            Cidade*:
            <input
              type="text"
              id="cidade"
              name="cidade"
              placeholder="Cidade (digite o CEP)"
              th:field="*{cidade}"
              readonly
              class="meu-campo"
            />
          </label>
          <label for="cep">
            CEP*:
            <input
              type="text"
              id="cep"
              onkeydown="cepNumberFormatter()"
              name="cep"
              placeholder="xxxxx-xxx"
              th:field="*{cep}"
              minlength="9"
              maxlength="9"
              required
            />
          </label>
          <label for="telefone">
            Telefone (celular)*:
            <input
              type="text"
              id="telefone"
              onkeydown="phoneNumberFormatter()"
              name="telefone"
              value="telefone"
              placeholder="(xx) xxxxx-xxxx"
              th:field="*{telefone}"
              required
            />
          </label>
        </div>
        <fieldset>
          <legend>Gênero*</legend>
          <label for="Masculino">
            <input
              type="radio"
              id="Masculino"
              name="genero"
              value="Masculino"
              th:field="*{genero}"
              required
            />
            Masculino
          </label>
          <label for="Feminino">
            <input
              type="radio"
              id="Feminino"
              name="genero"
              value="Feminino"
              th:field="*{genero}"
              required
            />
            Feminino
          </label>
          <label for="Não Informado">
            <input
              type="radio"
              id="Não Informado"
              name="genero"
              value="Não Informado"
              th:field="*{genero}"
              required
              checked
            />
            Não informar
          </label>
        </fieldset>

        <div class="grid">
          <input type="submit" value="Adicionar!" />
          <input type="reset" value="Limpar" />
        </div>
        <label>* Campo obrigatório</label>
      </form>
    </div>
    <script src="/public/validateForm.js"></script>
  </body>
</html>
