<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1243118102" />
    <title>BiritaShop - by Fernando Felipe</title>
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" />

    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />

    <style>
      .pad {
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>
  </head>

  <body>
    <div class="w3-bar w3-black w3-xlarge">
      <a href="/" class="w3-bar-item w3-button w3-mobile w3-pale-green"
        >Início</a
      >
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Cliente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="/adicionarCliente" class="w3-bar-item w3-button"
            >Adicionar Cliente</a
          >
          <a href="/listarCliente" class="w3-bar-item w3-button"
            >Listar Cliente</a
          >
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Dependente</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button">Adicionar Dependente</a>
          <a href="#" class="w3-bar-item w3-button">Editar Dependente</a>
          <a href="#" class="w3-bar-item w3-button">Listar Dependente</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Pedido</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button">Adicionar Pedido</a>
          <a href="#" class="w3-bar-item w3-button">Editar Pedido</a>
          <a href="#" class="w3-bar-item w3-button">Listar Pedido</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <button class="w3-button w3-black">Produto</button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button">Adicionar Produto</a>
          <a href="#" class="w3-bar-item w3-button">Editar Produto</a>
          <a href="#" class="w3-bar-item w3-button">Listar Produto</a>
        </div>
      </div>
      <a
        href="/public/sobre.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Sobre o site</a
      >
      <a
        href="/public/contato.html"
        class="w3-bar-item w3-button w3-mobile w3-right"
        >Contato</a
      >
    </div>

    <div class="pad">
      <h1 align="middle">Lista de clientes</h1>
      <table role="grid">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Gênero</th>
            <th scope="col">Cidade</th>
            <th scope="col">Cep</th>
            <th scope="col">e-Mail</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="umCliente: ${todosOsClientes}">
            <td th:text="${umCliente.id}"></td>
            <td th:text="${umCliente.nomecompleto}"></td>
            <td th:text="${umCliente.genero}"></td>
            <td th:text="${umCliente.cidade}"></td>
            <td th:text="${umCliente.cep}"></td>
            <td>
              <a
                th:href="'mailto:'+${umCliente.id}"
                th:text="${umCliente.email}"
              ></a>
            </td>
            <td th:text="${umCliente.telefone}"></td>
            <td><a th:href="@{/editar/{id}(id=${umCliente.id})}">Editar</a></td>
            <td>
              <a th:href="@{/remover/{id}(id=${umCliente.id})}">Remover</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
